a {
  text-decoration : none; 
}

.green {
  color : green;
}

.yellow {
  color : yellow;
}

.back {
  margin-bottom : 20px;
  &:hover {
    cursor : pointer;
  }
}

input {
  margin-bottom : 30px;
  border : none;
  border-bottom : 1px solid black;
  padding : 10px;

  &:focus {
    border-bottom : 3px solid black;
    outline : none;
  }
}

input[type=submit] {
  border : 2px solid;
}

h2 {
  font-weight : bold;
  font-size : 20px;
  margin-bottom : 20px;
}

.backBtn {
  width : 10px;
  height : 10px;
  border-left : 3px solid;
  border-bottom : 3px solid;
  transform : rotate(45deg);
  margin-bottom : 10px;

  &:hover { cursor : pointer; }
}

.spinner {
  left: 45%;
  position: absolute;
  top : 150px;
  display : flex;
  flex-flow : column nowrap;
  align-items : center;

  &#content-busy {
    position : absolute;
    top : 25%;
    left : 50%;
  }
}

.dropdown {
  position : relative;
  min-width : 150px;

  .dropdown-label {
    cursor : pointer;
    display : flex;
    flex-flow : row nowrap;
    .down-arrow {
      margin-left : 10px;
      height : 5px;
      width : 5px;
      border-left : 1px solid;
      border-bottom : 1px solid;
      transform : rotate(-45deg);
      transition : transform 0.5s;

      &.up {
        transform : rotate(135deg);
      }
    }
  }
}

.dropdown-options {
  position : absolute;
  background : white;
  z-index : $max-z-index;
  border : 2px solid black;
  padding : 10px;
  max-height: 400px;
  overflow: scroll;
  li { 
    cursor : pointer;
  }
  li:not(:last-child) {
    margin-bottom : 25px;
  }
}