#side-bar {
  color : white;
  background : $tertiary-color;
  @include mainPadding();
  padding-top : 10px;
  padding-bottom : 10px;

  @include setMediaFor(large-screens) {
    padding-top : 20px;
  }
}

#side-bar-nav {
  text-decoration : none;
  color : white;
  display : flex;
  justify-content : space-between;
  padding : 10px 0px;
  li {
    list-style : none;
    margin-bottom : 10px;
    .nav-list-item {
      text-transform : capitalize;
      text-decoration : none;
      color : white;
      
      &:hover:not(.active) {
        color : $secondary-color;
      }
  
      &.active {
        color : $primary-color;
        font-weight : bold;
      }
    }
  }
  @include setMediaFor(large-screens) {
    flex-flow : column nowrap;
  }
}