.txn-container {
  font-size : 14px;
  margin-bottom : 30px;
  div {
    margin-bottom : 5px;
  }
}

.txn-blockhash, .txn-id, .txn-confirmations {
  display : flex;
  align-items : center;

  .txn-label {
    margin-right : 30px;
    min-width : 100px;
  }
}
.txn-blockhash, .txn-id {
  a {
    @include setOverflow(ellipsis);
    color : lightgrey;
    &:hover { cursor: pointer; }
  }
}
.txn-value {
  font-weight : bold;
}
.outgoing .txn-value {
  color : red;
}

.incoming .txn-value {
  color : #19bb21;
}

.address-container {
  display : flex;
  justify-content : space-between;
}

.status {
  color : white;
  padding : 7px;
  background : green;
  .pending {
    background : yellow;
  }
}

.txns-list .spinner {
  top : 10px;
}

#tab-options-container {
  margin : 20px 0;
  button {
    border : none;
    border-bottom : 2px solid;
    padding : 5px 10px;
    &.active {
      border-bottom: 0;
      border-top: 2px solid;
      border-left: 2px solid;
      border-right: 2px solid;
    }

    &:focus { outline : none; }
    &:hover { cursor : pointer; }
  }
}

.txns-list {
  margin-top : 30px;
}