$primary-color : #4a89b1;
$secondary-color : #b0d1e6;//#87b5d2;
$tertiary-color : #1d1b1b;
$dark-primary-color : #205577;
$max-z-index : 1000;

/*BREAKPOINT VARIABLES*/
$smallBreakpoint : 480px;
$mediumBreakpoint : 768px;

@mixin setMediaFor($media) {
  @if $media == handhelds {
    @media (max-width: $smallBreakpoint) {
      
      @content;
      
    }

  }
  @else if $media == medium-screens {
    @media only screen and (min-width : $smallBreakpoint + 1) and (max-width : $mediumBreakpoint) { 
      @content; 
    }
  }
  @else if $media == large-screens {

    @media (min-width: $mediumBreakpoint + 1) {
      
      @content;
      
    }
  }
}

@mixin mainPadding() {
  padding : 15px;
}

@mixin setOverflow($type) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: $type;
}