#wallet-tools-container {
  display : flex;
  justify-content : space-between;
  margin : 30px 0;
  button {
    border : none;
    border-bottom : 1px solid $primary-color;
    padding-bottom : 10px;
    flex-grow : 1;
    &:hover {
      cursor : pointer;
    }

    &:focus { outline : none; }

    &.active {
      border-bottom : 3px solid $primary-color;
      font-weight : bold;
    }
  }
}

#wallet-details-container {
  #wallet-label, .wallet-balance {
    font-weight : bold;
  }
}

#wallets-list-container {
  margin-top : 30px;
}

#wallet-send-display {
  form {
    display : flex;
    flex-flow : column nowrap;
    max-width : 400px;

    #amount-input-container {
      display : flex;
      flex-flow : row nowrap;
      position : relative;

      #amount-input { width : 100%; }
      label {
        position : absolute;
        right : 0;
        top : 10px;
      }
    }
  }
  form input:not([type=submit]) {
      min-width : 300px;
  }
}