#wallet-tools-container {
  display : flex;
  justify-content : space-between;
  margin : 30px 0;
  button {
    border : none;
    border-bottom : 1px solid $primary-color;
    padding-bottom : 10px;
    flex-grow : 1;
    &:hover {
      cursor : pointer;
    }

    &:focus { outline : none; }

    &.active {
      border-bottom : 3px solid $primary-color;
      font-weight : bold;
      &:hover { cursor : default; background : none; }
    }
  }
}

#wallet-details-container {
  #wallet-label, .wallet-balance {
    font-weight : bold;
  }
}
.wallet-container {
  display : flex;
  justify-content : space-between;
  margin-bottom : 10px;
  padding : 15px;

  &:hover {
    cursor : pointer;
    background : $secondary-color;
    border-radius : 10px;
  }
}

#wallet-send-display {
  display : flex;
  justify-content : center;

  form {
    display : flex;
    flex-flow : column nowrap;
    max-width : 400px;
    flex-grow : 1;

    #amount-input-container {
      display : flex;
      flex-flow : row nowrap;
      position : relative;

      #amount-input { width : 100%; }
      label {
        position : absolute;
        right : 0;
        top : 10px;
      }
    }
  }
  form input:not([type=submit]) {
      min-width : 300px;
  }
}


#wallet-receive-display {
  .dropdown-label {
    max-width : 350px;
    border-bottom : 2px solid;
    padding-bottom : 15px;
  }
}