/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "variables";
@import "primitives";
@import "animations";

html, body, #app, #top-container {
  height : 100%;
  min-width : 400px;
}

.hidden {
  display : none;
}

#header {
  @include mainPadding();
  background : $tertiary-color; // rgb(29, 27, 27)
  color : white;
  display : flex;
  justify-content : space-between;
  height : 40px;
  align-items : center;
  font-size : 26px;
  font-weight : bold;

  #profile-dropdown {
    .dropdown-label { justify-content : flex-end; }
  
    .down-arrow { display : none; }

    .dropdown-options {
      position : absolute;
      right : 0px;
      border : 2px solid black;
      padding : 10px;
      color : black;
      li:not(:last-child) {
        margin-bottom : 25px;
      }
      li {
        font-size : 15px;
        &:hover {
          cursor : pointer;
        }
      }
    }
  }
}

#auth-buttons {
  margin-right : 30px;

  button {
    border : none;
    height : 30px;
    margin-left : 10px;
    border-radius : 10px;
    background : none;
    color : white;
    font-size : 15px;
    font-weight : bold;
  }
}

#loading-bar {
  height : 3px;
  background : $primary-color;
  &.loading {
    background : $tertiary-color;
  }
}

#loading-bar div {
  background : radial-gradient($primary-color 40%, #abbfb8);
  width : 200px;
  height : inherit;
  -webkit-animation : loadingBar 5s infinite; /* Safari 4+ */
  -moz-animation : loadingBar 5s infinite; /* Fx 5+ */
  -o-animation : loadingBar 5s infinite; /* Opera 12+ */
  animation : loadingBar 5s infinite; /* IE 10+, Fx 29+ */
}

#main-content {
  display : flex;
  flex-flow : column nowrap;
  min-height : 100%;
  position : relative;
  @include setMediaFor(large-screens) {
    flex-flow : row nowrap;
  }
}

#user-display-container {
  @include mainPadding();
  padding-left : 15px;
  padding-right : 15px;
  flex-grow : 1;
}

@import "welcomePage";
@import "sideBar";
@import "walletPage";
@import "transactions";