/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*BREAKPOINT VARIABLES*/
/* line 1, ../sass/_primitives.scss */
a {
  text-decoration: none;
}

/* line 5, ../sass/_primitives.scss */
.green {
  color: green;
}

/* line 9, ../sass/_primitives.scss */
.yellow {
  color: yellow;
}

/* line 13, ../sass/_primitives.scss */
.back {
  margin-bottom: 20px;
}
/* line 15, ../sass/_primitives.scss */
.back:hover {
  cursor: pointer;
}

/* line 20, ../sass/_primitives.scss */
input {
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
}
/* line 26, ../sass/_primitives.scss */
input:focus {
  border-bottom: 3px solid black;
  outline: none;
}

/* line 32, ../sass/_primitives.scss */
input[type=submit] {
  border: 2px solid;
}

/* line 36, ../sass/_primitives.scss */
h2 {
  font-weight: bold;
  font-size: 20px;
}

/* line 41, ../sass/_primitives.scss */
.backBtn {
  width: 10px;
  height: 10px;
  border-left: 3px solid;
  border-bottom: 3px solid;
  transform: rotate(45deg);
  margin-bottom: 10px;
}
/* line 49, ../sass/_primitives.scss */
.backBtn:hover {
  cursor: pointer;
}

/* line 52, ../sass/_primitives.scss */
.spinner {
  margin: 0 auto;
  position: relative;
  top: 100px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
/* line 60, ../sass/_primitives.scss */
.spinner#content-busy {
  position: absolute;
  top: 25%;
  left: 50%;
}

/* line 67, ../sass/_primitives.scss */
.dropdown-container {
  position: relative;
}

/* line 71, ../sass/_primitives.scss */
.dropdown-options {
  position: absolute;
  background: white;
  z-index: 1000;
}

/* line 10, ../sass/screen.scss */
html, body, #app, #top-container {
  height: 100%;
}

/* line 14, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 18, ../sass/screen.scss */
#header {
  padding: 15px;
  background: #1d1b1b;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
}
/* line 29, ../sass/screen.scss */
#header .dropdown-options {
  position: absolute;
  right: 0px;
  border: 2px solid black;
  padding: 10px;
  color: black;
}
/* line 35, ../sass/screen.scss */
#header .dropdown-options li:not(:last-child) {
  margin-bottom: 25px;
}
/* line 38, ../sass/screen.scss */
#header .dropdown-options li {
  font-size: 15px;
}
/* line 40, ../sass/screen.scss */
#header .dropdown-options li:hover {
  cursor: pointer;
}

/* line 47, ../sass/screen.scss */
#auth-buttons {
  margin-right: 30px;
}
/* line 50, ../sass/screen.scss */
#auth-buttons button {
  border: none;
  height: 30px;
  margin-left: 10px;
  border-radius: 10px;
  background: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

/* line 62, ../sass/screen.scss */
#loading-bar {
  height: 3px;
  background: #1d1b1b;
}

/* line 67, ../sass/screen.scss */
#loading-bar div {
  background: radial-gradient(#b14a4a 40%, #d8c643);
  width: 15%;
  height: inherit;
  max-width: 200px;
}

/* line 74, ../sass/screen.scss */
#main-content {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  position: relative;
}
@media (min-width: 769px) {
  /* line 74, ../sass/screen.scss */
  #main-content {
    flex-flow: row nowrap;
  }
}

/* line 84, ../sass/screen.scss */
#user-display-container {
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

/* line 1, ../sass/_welcomePage.scss */
#welcome-page {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 50px;
}

/* line 7, ../sass/_welcomePage.scss */
#login-modal {
  min-width: 400px;
  display: flex;
  align-self: center;
}

/* line 13, ../sass/_welcomePage.scss */
#description-blurb {
  margin-bottom: 30px;
}

/* line 17, ../sass/_welcomePage.scss */
#login-btn {
  margin-bottom: 30px;
}
/* line 19, ../sass/_welcomePage.scss */
#login-btn:hover {
  cursor: pointer;
}

/* line 23, ../sass/_welcomePage.scss */
#login-form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
/* line 28, ../sass/_welcomePage.scss */
#login-form #error-msg {
  margin-bottom: 10px;
  color: red;
  font-weight: bold;
  padding: 10px;
  background: none;
  border: 1px solid;
  border-radius: 10px;
}
/* line 37, ../sass/_welcomePage.scss */
#login-form #error-msg:hover {
  color: white;
  background: red;
  cursor: pointer;
}

/* line 1, ../sass/_sideBar.scss */
#side-bar {
  color: white;
  background: #1d1b1b;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 769px) {
  /* line 1, ../sass/_sideBar.scss */
  #side-bar {
    padding-top: 20px;
  }
}

/* line 13, ../sass/_sideBar.scss */
#side-bar-nav {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
/* line 19, ../sass/_sideBar.scss */
#side-bar-nav li {
  list-style: none;
  margin-bottom: 10px;
}
/* line 22, ../sass/_sideBar.scss */
#side-bar-nav li .nav-list-item {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
}
@media (min-width: 769px) {
  /* line 13, ../sass/_sideBar.scss */
  #side-bar-nav {
    flex-flow: column nowrap;
  }
}

/* line 1, ../sass/_walletsPage.scss */
.wallet-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
/* line 6, ../sass/_walletsPage.scss */
.wallet-container:hover {
  cursor: pointer;
}

/* line 1, ../sass/_walletPage.scss */
#wallet-tools-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* line 8, ../sass/_walletPage.scss */
#wallet-details-container #wallet-label, #wallet-details-container .wallet-balance {
  font-weight: bold;
}

/* line 1, ../sass/_transactions.scss */
.txn-container {
  font-size: 14px;
  margin-bottom: 30px;
}
/* line 4, ../sass/_transactions.scss */
.txn-container div {
  margin-bottom: 5px;
}

/* line 9, ../sass/_transactions.scss */
.txn-blockhash, .txn-id, .txn-confirmations {
  display: flex;
  align-items: center;
}
/* line 13, ../sass/_transactions.scss */
.txn-blockhash .txn-label, .txn-id .txn-label, .txn-confirmations .txn-label {
  margin-right: 30px;
  min-width: 100px;
}

/* line 19, ../sass/_transactions.scss */
.txn-blockhash a, .txn-id a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: lightgrey;
}
/* line 22, ../sass/_transactions.scss */
.txn-blockhash a:hover, .txn-id a:hover {
  cursor: pointer;
}

/* line 25, ../sass/_transactions.scss */
.txn-value {
  font-weight: bold;
}

/* line 28, ../sass/_transactions.scss */
.outgoing .txn-value {
  color: red;
}

/* line 32, ../sass/_transactions.scss */
.incoming .txn-value {
  color: #19bb21;
}

/* line 36, ../sass/_transactions.scss */
.address-container {
  display: flex;
  justify-content: space-between;
}

/* line 41, ../sass/_transactions.scss */
.status {
  color: white;
  padding: 7px;
  background: green;
}
/* line 45, ../sass/_transactions.scss */
.status .pending {
  background: yellow;
}

/* line 50, ../sass/_transactions.scss */
.txns-list .spinner {
  top: 10px;
}
