/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*BREAKPOINT VARIABLES*/
/* line 1, ../sass/_primitives.scss */
a {
  text-decoration: none;
}

/* line 4, ../sass/_primitives.scss */
h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

/* line 10, ../sass/_primitives.scss */
button {
  border: 1px solid;
  padding: 5px;
  min-width: 75px;
  border-radius: 10px;
}
/* line 16, ../sass/_primitives.scss */
button:hover {
  cursor: pointer;
  background: #b0d1e6;
}
/* line 17, ../sass/_primitives.scss */
button.active {
  cursor: default;
}
/* line 18, ../sass/_primitives.scss */
button:focus {
  outline: none;
}

/* line 21, ../sass/_primitives.scss */
input[type=submit] {
  border: 2px solid;
}

/* line 25, ../sass/_primitives.scss */
input {
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #b0d1e6;
  padding: 10px;
}
/* line 31, ../sass/_primitives.scss */
input:focus {
  border-bottom: 3px solid #4a89b1;
  outline: none;
}

/* line 37, ../sass/_primitives.scss */
.green {
  color: green;
}

/* line 41, ../sass/_primitives.scss */
.yellow {
  color: yellow;
}

/* line 45, ../sass/_primitives.scss */
.back {
  margin-bottom: 20px;
}
/* line 47, ../sass/_primitives.scss */
.back:hover {
  cursor: pointer;
}

/* line 52, ../sass/_primitives.scss */
.backBtn {
  width: 10px;
  height: 10px;
  border-left: 3px solid;
  border-bottom: 3px solid;
  transform: rotate(45deg);
  margin-bottom: 10px;
}
/* line 60, ../sass/_primitives.scss */
.backBtn:hover {
  cursor: pointer;
}

/* line 63, ../sass/_primitives.scss */
.spinner {
  left: 45%;
  position: absolute;
  top: 150px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
/* line 71, ../sass/_primitives.scss */
.spinner#content-busy {
  position: absolute;
  top: 25%;
  left: 50%;
}

/* line 78, ../sass/_primitives.scss */
.dropdown {
  position: relative;
  min-width: 150px;
}
/* line 82, ../sass/_primitives.scss */
.dropdown .dropdown-label {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 200px;
  font-weight: bold;
}
/* line 90, ../sass/_primitives.scss */
.dropdown .dropdown-label:not(.outlier) {
  padding: 10px;
  border: 2px solid #4a89b1;
  border-radius: 10px;
  background: rgba(74, 137, 177, 0.16078);
}
/* line 97, ../sass/_primitives.scss */
.dropdown .dropdown-label .down-arrow {
  margin-left: 10px;
  height: 7px;
  width: 7px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  transform: rotate(-45deg);
  transition: transform 0.5s;
}
/* line 106, ../sass/_primitives.scss */
.dropdown .dropdown-label .down-arrow.up {
  transform: rotate(135deg);
}

/* line 113, ../sass/_primitives.scss */
.dropdown-options {
  position: absolute;
  background: white;
  z-index: 1000;
  border: 2px solid black;
  padding: 10px;
  max-height: 200px;
  overflow: scroll;
  top: 40px;
  left: 0;
}
/* line 123, ../sass/_primitives.scss */
.dropdown-options li {
  cursor: pointer;
}
/* line 125, ../sass/_primitives.scss */
.dropdown-options li:hover {
  color: #4a89b1;
}
/* line 129, ../sass/_primitives.scss */
.dropdown-options li:not(:last-child) {
  margin-bottom: 25px;
}

/* line 134, ../sass/_primitives.scss */
.address {
  color: #205577;
  font-weight: bold;
}
/* line 137, ../sass/_primitives.scss */
.address:hover {
  border-bottom: 2px solid;
}

@-webkit-keyframes loadingBar {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(800%);
  }
}
@-moz-keyframes loadingBar {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(800%);
  }
}
@-o-keyframes loadingBar {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(800%);
  }
}
@keyframes loadingBar {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(800%);
  }
}
/* line 11, ../sass/screen.scss */
html, body, #app, #top-container {
  height: 100%;
  min-width: 400px;
}

/* line 16, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 20, ../sass/screen.scss */
#header {
  padding: 15px;
  background: #1d1b1b;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
}
/* line 32, ../sass/screen.scss */
#header #profile-dropdown .dropdown-label {
  justify-content: flex-end;
}
/* line 34, ../sass/screen.scss */
#header #profile-dropdown .down-arrow {
  display: none;
}
/* line 36, ../sass/screen.scss */
#header #profile-dropdown .dropdown-options {
  position: absolute;
  right: 0px;
  border: 2px solid black;
  padding: 10px;
  color: black;
}
/* line 42, ../sass/screen.scss */
#header #profile-dropdown .dropdown-options li:not(:last-child) {
  margin-bottom: 25px;
}
/* line 45, ../sass/screen.scss */
#header #profile-dropdown .dropdown-options li {
  font-size: 15px;
}
/* line 47, ../sass/screen.scss */
#header #profile-dropdown .dropdown-options li:hover {
  cursor: pointer;
}

/* line 55, ../sass/screen.scss */
#auth-buttons {
  margin-right: 30px;
}
/* line 58, ../sass/screen.scss */
#auth-buttons button {
  border: none;
  height: 30px;
  margin-left: 10px;
  border-radius: 10px;
  background: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

/* line 70, ../sass/screen.scss */
#loading-bar {
  height: 3px;
  background: #4a89b1;
}
/* line 73, ../sass/screen.scss */
#loading-bar.loading {
  background: #1d1b1b;
}

/* line 78, ../sass/screen.scss */
#loading-bar div {
  background: radial-gradient(#4a89b1 40%, #abbfb8);
  width: 200px;
  height: inherit;
  -webkit-animation: loadingBar 5s infinite;
  /* Safari 4+ */
  -moz-animation: loadingBar 5s infinite;
  /* Fx 5+ */
  -o-animation: loadingBar 5s infinite;
  /* Opera 12+ */
  animation: loadingBar 5s infinite;
  /* IE 10+, Fx 29+ */
}

/* line 88, ../sass/screen.scss */
#main-content {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  position: relative;
}
@media (min-width: 769px) {
  /* line 88, ../sass/screen.scss */
  #main-content {
    flex-flow: row nowrap;
  }
}

/* line 98, ../sass/screen.scss */
#user-display-container {
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  flex-grow: 1;
}

/* line 1, ../sass/_welcomePage.scss */
#welcome-page {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 50px;
}

/* line 7, ../sass/_welcomePage.scss */
#login-modal {
  min-width: 400px;
  display: flex;
  align-self: center;
}

/* line 13, ../sass/_welcomePage.scss */
#description-blurb {
  margin-bottom: 30px;
}

/* line 17, ../sass/_welcomePage.scss */
#login-btn {
  margin-bottom: 30px;
}
/* line 19, ../sass/_welcomePage.scss */
#login-btn:hover {
  cursor: pointer;
}

/* line 23, ../sass/_welcomePage.scss */
#login-form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
/* line 28, ../sass/_welcomePage.scss */
#login-form #error-msg {
  margin-bottom: 10px;
  color: red;
  font-weight: bold;
  padding: 10px;
  background: none;
  border: 1px solid;
  border-radius: 10px;
}
/* line 37, ../sass/_welcomePage.scss */
#login-form #error-msg:hover {
  color: white;
  background: red;
  cursor: pointer;
}

/* line 1, ../sass/_sideBar.scss */
#side-bar {
  color: white;
  background: #1d1b1b;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 769px) {
  /* line 1, ../sass/_sideBar.scss */
  #side-bar {
    padding-top: 20px;
  }
}

/* line 13, ../sass/_sideBar.scss */
#side-bar-nav {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
/* line 19, ../sass/_sideBar.scss */
#side-bar-nav li {
  list-style: none;
  margin-bottom: 10px;
}
/* line 22, ../sass/_sideBar.scss */
#side-bar-nav li .nav-list-item {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
}
/* line 27, ../sass/_sideBar.scss */
#side-bar-nav li .nav-list-item:hover:not(.active) {
  color: #b0d1e6;
}
/* line 31, ../sass/_sideBar.scss */
#side-bar-nav li .nav-list-item.active {
  color: #4a89b1;
  font-weight: bold;
}
@media (min-width: 769px) {
  /* line 13, ../sass/_sideBar.scss */
  #side-bar-nav {
    flex-flow: column nowrap;
  }
}

/* line 1, ../sass/_walletPage.scss */
#wallet-tools-container {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
/* line 5, ../sass/_walletPage.scss */
#wallet-tools-container button {
  border: none;
  border-bottom: 1px solid #4a89b1;
  padding-bottom: 10px;
  flex-grow: 1;
}
/* line 10, ../sass/_walletPage.scss */
#wallet-tools-container button:hover {
  cursor: pointer;
}
/* line 14, ../sass/_walletPage.scss */
#wallet-tools-container button:focus {
  outline: none;
}
/* line 16, ../sass/_walletPage.scss */
#wallet-tools-container button.active {
  border-bottom: 3px solid #4a89b1;
  font-weight: bold;
}
/* line 19, ../sass/_walletPage.scss */
#wallet-tools-container button.active:hover {
  cursor: default;
  background: none;
}

/* line 25, ../sass/_walletPage.scss */
#wallet-details-container #wallet-label, #wallet-details-container .wallet-balance {
  font-weight: bold;
}

/* line 29, ../sass/_walletPage.scss */
.wallet-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px;
  font-weight: bold;
}
/* line 36, ../sass/_walletPage.scss */
.wallet-container:hover {
  cursor: pointer;
  background: #b0d1e6;
  border-radius: 10px;
  color: #205577;
}

/* line 44, ../sass/_walletPage.scss */
#wallet-send-display {
  display: flex;
  justify-content: center;
}
/* line 48, ../sass/_walletPage.scss */
#wallet-send-display form {
  display: flex;
  flex-flow: column nowrap;
  max-width: 400px;
  flex-grow: 1;
}
/* line 54, ../sass/_walletPage.scss */
#wallet-send-display form #address-input-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 30px;
}
/* line 60, ../sass/_walletPage.scss */
#wallet-send-display form #address-input-container #address-input {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
/* line 68, ../sass/_walletPage.scss */
#wallet-send-display form #amount-input-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  margin-bottom: 30px;
}
/* line 74, ../sass/_walletPage.scss */
#wallet-send-display form #amount-input-container #amount-input {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 5px;
}
/* line 80, ../sass/_walletPage.scss */
#wallet-send-display form #amount-input-container label {
  position: absolute;
  right: 0;
  top: 10px;
}
/* line 87, ../sass/_walletPage.scss */
#wallet-send-display form input:not([type=submit]) {
  min-width: 300px;
}

/* line 94, ../sass/_walletPage.scss */
#wallet-receive-display .dropdown-label {
  max-width: 350px;
  border-bottom: 2px solid;
  padding-bottom: 15px;
}

/* line 101, ../sass/_walletPage.scss */
#wallets-list-container {
  margin-top: 30px;
}

/* line 1, ../sass/_transactions.scss */
.txn-container {
  font-size: 14px;
  margin-bottom: 30px;
}
/* line 4, ../sass/_transactions.scss */
.txn-container div {
  margin-bottom: 5px;
}

/* line 9, ../sass/_transactions.scss */
.txn-blockhash, .txn-id, .txn-confirmations {
  display: flex;
  align-items: center;
}
/* line 13, ../sass/_transactions.scss */
.txn-blockhash .txn-label, .txn-id .txn-label, .txn-confirmations .txn-label {
  margin-right: 30px;
  min-width: 100px;
}

/* line 19, ../sass/_transactions.scss */
.txn-blockhash a, .txn-id a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: lightgrey;
}
/* line 22, ../sass/_transactions.scss */
.txn-blockhash a:hover, .txn-id a:hover {
  cursor: pointer;
  border-bottom: 2px solid;
}

/* line 25, ../sass/_transactions.scss */
.txn-value {
  font-weight: bold;
}

/* line 28, ../sass/_transactions.scss */
.outgoing .txn-value {
  color: red;
}

/* line 32, ../sass/_transactions.scss */
.incoming .txn-value {
  color: #19bb21;
}

/* line 36, ../sass/_transactions.scss */
.address-container {
  display: flex;
  justify-content: space-between;
}

/* line 41, ../sass/_transactions.scss */
.status {
  color: white;
  padding: 7px;
  background: green;
}
/* line 45, ../sass/_transactions.scss */
.status .pending {
  background: yellow;
}

/* line 50, ../sass/_transactions.scss */
.txns-list .spinner {
  top: 10px;
}

/* line 54, ../sass/_transactions.scss */
#tab-options-container {
  margin: 20px 0;
  display: flex;
  flex-flow: row nowrap;
}
/* line 58, ../sass/_transactions.scss */
#tab-options-container button {
  border: none;
  padding: 5px 10px;
  border-radius: 0;
  margin-right: 10px;
}
/* line 63, ../sass/_transactions.scss */
#tab-options-container button.active {
  border-bottom: 2px solid #4a89b1;
  font-weight: bold;
}
/* line 67, ../sass/_transactions.scss */
#tab-options-container button.active:hover {
  background: none;
}

/* line 73, ../sass/_transactions.scss */
.txns-list {
  margin-top: 30px;
}
